body {
  background-color: #010034;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}


.box {
  display: flex;
  background-color: #ffffff;
  margin: auto;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 1.5rem;
  max-width: 400px;
  border-radius: 0.8rem;
  box-shadow: 0 0 2000px 50px #ffffff58;
}


.box h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;


}

.finput {

  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 1.2rem;
  font-size: 1rem;
}

select {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.btn {
  width: 100%;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  background-color: #1f1bff;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.Fbtn {
  width: 100%;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  background-color: #1f1bff;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #1613a5;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6)
}

.Information-box {
  background: white;
  margin: 50px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.Information-box h3 {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

ol {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  border: 1px solid black;
  border-radius: 0.7rem;
  list-style-position: inside;
  padding: 1rem;
  line-height: 25px;
  list-style: none;
}


.SearchForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.SearchFormBTN {
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: #1f1bff;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.SearchFormIput {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 1.5rem;
  width: 70%;
  font-size: 1rem;
}